@model Capstone.Web.Models.PotholeViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<body>
    <potholemap></potholemap>
    <p></p>
    <div style="text-align:center">
        <section class="searchGraph">
            <bargraph id="bargraph"></bargraph>
            <searchbar id="search"></searchbar>
        </section>
        <resultstable></resultstable>
    </div>
    <script src="~/RiotComponents/potholemap.tag" type="riot/tag">
    </script>
    <script src="~/RiotComponents/searchbar.tag" type="riot/tag">
    </script>
    <script src="~/RiotComponents/resultstable.tag" type="riot/tag">
    </script>
    <script src="~/RiotComponents/bargraph.tag" type="riot/tag">
    </script>

    <script>

        let bus = {
            roles: 'bob'
        };

        riot.observable(bus);   //makes it so our bus can send and receive messages

        // Mount the riot tags to the page here

        riot.mount('potholemap', { bus: bus });
        riot.mount('searchbar', { bus: bus });
        riot.mount('resultstable', { bus: bus });
        riot.mount('bargraph', { bus: bus });

    </script>

</body>


