@model Capstone.Web.Models.PotholeViewModel
@{
    ViewBag.Title = "ReportPothole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ReportPothole</h2>

<!--Make sure that the Severity Property is a drop down-->








