@model Capstone.Web.Models.PotholeViewModel
@{
    ViewBag.Title = "ReportPothole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Make sure that the Severity Property is a drop down-->
<!--Make sure that I have the anti forgery token-->

<section>
    <h2>Report a pothole</h2>

    <div id="map"></div>

    <h3>Please give us information about the pothole you would like to report: </h3>
    <p></p>

    <div>
        <form method="post" action="@Url.Action("ReportPotholePost", "Home")">
            <fieldset>
                <h3 style="text-align: center">(Click on the map above to set the location of the pothole you are reporting)</h3>
                @Html.AntiForgeryToken()
                <div style="column-count: 2; column-gap: 50px">
                    <div style="column-width: auto; padding-top: 5px; vertical-align: top">
                        <div>
                            <p>On a scale from 1 -10, with 10 being the worst pothole you have ever seen, how would you rank the severity of this pothole?</p>
                            <select name="Severity">

                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>

                            </select>
                        </div>

                        <div>
                            <p>On what street is this pothole located? </p>
                            <input type="text" name="Street1" />
                        </div>

                        <div>
                            <p>What is the nearest cross-street to this pothole? </p>
                            <input type="text" name="Street2" />
                        </div>

                        <div>
                            
                            <span><input type="hidden" id="Latitude" name="Latitude" /></span>
                            <span><input type="hidden" id="Longitude" name="Longitude" /></span>
                        </div>
                        <p></p>

                    </div>

                    <div style="column-width: auto; padding-top: 20px; vertical-align: top">

                        <div>
                            <p>Pothole description:</p>
                            <textarea name="PotholeDesc" rows="3" cols="100" placeholder="Enter a description of the pothole."></textarea>
                        </div>

                        <div>
                            <input type="hidden" name="UserName" value="@User.Identity.Name" readonly />
                        </div>

                        <div>
                            <p>Additional location details: </p>
                            <textarea name="LocationDesc" rows="5" cols="100" placeholder="Enter a location description."></textarea>
                        </div>

                        <div>
                            <input type="hidden" name="ReportedDate" value=@DateTime.Now readonly />
                        </div>

                        <div>
                            <button>Submit!</button>
                        </div>

                    </div>
                </div>
            </fieldset>
        </form>

    </div>

    <script>

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 11,
            center: { lat: 41.504745, lng: -81.677486 }
        });

      
        map.addListener('click', function (e) {
            placeMarker(e.latLng, map);
            document.getElementById('Latitude').value = e.latLng.lat();
            document.getElementById('Longitude').value = e.latLng.lng();
            this.update;
            console.log(e.latLng.lng());
        });

        var marker;

        function placeMarker(latLng, map) {
            if (marker == null) {
                 marker = new google.maps.Marker({
                    position: latLng,
                    map: map
                });
            }
            else {
                marker.setPosition(latLng);
            }
        
        }
        

    </script>

</section>



       